@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    font-family: 'Lato', sans-serif;
    color: white;
    list-style: none;
    overflow-x: hidden;
        
}

h1{
    text-align: center;
}

body {
    background: linear-gradient(to right, #1f075f, #6a1f84)
}

section {
    height: fit-content;
    width: 100%;
    display: flex;
    margin: bottom 5em;
}

p {
    font-size: 1.3rem;
    
    overflow-y: hidden;
}



ul {
    float: right;
    width: 100%;
}

/* NAV BAR */
#navbar a {
    color: #ffc2f0;
    ;
}

#navbar:hover {
    background-color: #1d1b1c;
    transition: 1s;
}

@media screen and (max-width:990px) {

    #navbar ul li {
        float: both;
    }

    #navbar ul li:nth-child(6) {
        display: none;
    }
}


/* header */
header {
    display: flex;
    width: 100%;
    height: fit-content;
    /* align-items: center; */

}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* count down */

.Timer {
    display: flex;
    justify-content: center;
}

.countdown-container {
    display: flex;
}

.countdown-container>div {
    margin: 0 1rem;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 12px;
    width: 5rem;
}

@media screen and (max-width: 780px) {
    #Timer {
        padding: 15px 10px 15px 10px;
        font-size: 2rem;
        top: 6.5rem;
    }
}

/* about mtrix */
.container {
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.about-matrix {
    padding: 68px 0;
}



.about-matrix .about-matrix-content {
    padding: 4em;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #111111;
}

@media screen and (max-width: 1400px) {
    .about-matrix-content {
        flex-direction: column;
    }
}

.about-matrix .aboutmatrix-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.about-matrix .about-matrix-content .content-left img {
    width: 350px;
}

.about-matrix .about-matrix-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-matrix .about-matrix-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}



/* Button Styling Starts Here */
.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
}

.slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
}

#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}
#outer a{
    color: white;
    text-decoration: none;
}


/* theme */

.Theme {
    display: flex;
    justify-content: center;
    align-items: center;

}


/* roadmap */
.roadmap {
    align-content: end;
    height: 40em;

}

.roadmap img {
    width: 92%;
    height: 92%;
    position: relative;
    z-index: 1;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 50px;

}

.box::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 190%;
    background: linear-gradient(#1f075f, #6b1e84);
    animation: animate 4s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.roadmap ul li:before {
    content: '\2014';
}

.roadmap ul{
    
    overflow-y: hidden;
}
.roadmap li{
    margin: 2em;
    font-size: 1.9em;
}

/* sponsers */
.sponsor-section {
    margin-bottom: 10px;
    width: 100vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}



@media screen and (max-width: 1000px) {

    .sponsor-section {
        display: flex;
        flex-direction: column;

    }

    .sponsor-section p {
        font-size: 4rem;
    }

    .sponsor-section h2 {
        font-size: 8em;
    }


}

@media screen and (max-width: 400px) {

    .sponsor-section {
        display: flex;
        flex-direction: column;

    }

    .sponsor-section p {
        font-size: 2rem;
    }

    .sponsor-section h2 {
        font-size: 1.5em;
    }


}

.sponsor-heading {
    margin: auto;

}

.sponsor-heading h2 {
    font-size: 3rem;

}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



/* about BCM */

.about-BCM {
    background: linear-gradient(#1d1b1c, #020024e7);
    padding: 68px 0;
}

.about-BCM .about-BCM-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .about-BCM-content {
        flex-direction: column;
    }
}

.about-BCM .aboutBCM-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}


.about-BCM .about-BCM-content .content-left img {
    width: 350px;
}

.about-BCM .about-BCM-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-BCM-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.socials i {
    font-size: 3rem;
    padding: 2rem;
}

.socials i:hover {
    color: blue;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* footer */



.footer {
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Faq */
.faq {
    width: 100vw;
    margin-top: 120px;
    padding: 0 10vw 100px 10vw;
    box-sizing: border-box;
}

.accordion {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: rgba(193, 210, 236, 0.13);
    margin-top: 2px;
    border-radius: 5px;
}

.active2,
.accordion:hover {
    background-color: rgba(204, 204, 204, 0.61);
    color: #40297c;
}

.panel {
    padding: 10px 18px;
    color: rgb(239, 243, 217);
    font-size: 15px;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    background-color: rgba(255, 255, 255, 0.199);
    overflow: hidden;
}

.accordion:after {
    content: '\002B';
    color: rgb(237, 223, 223);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\2212";
    color: yellow;
}
.faq > h2{
    overflow-y: hidden;

    font-size: 40px;
    color: rgb(193, 215, 30);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
.faq p{
    font-size: 0.9rem;
}