@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    font-family: 'Lato', sans-serif;
    color: white;
    list-style: none;
    overflow-x: hidden;

}

body {
    background: linear-gradient(#6d053b, #020024e7);
}

section {
    margin: 0.1em, 0px;
    height: fit-content;
    width: 100%;
    display: flex;
}

p{font-size: 1.3rem;}

ul {
    float: right;
    width: 100%;
}

/* count down */
#Timer {
    padding: 20px 15px 20px 15px;
    font-size: 3rem;
    background-color: silver;
    color: black;
    margin: auto;
    width: fit-content;
    border: 2px solid black;
    z-index: 100;
    position: relative;
    top: 7rem;
    border-radius: 30px;
}

/* #Timer:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px rgba(255, 192, 203, 0.65)
} */
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about mtrix */
.container {
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-matrix {
    padding: 68px 0;
}

.about-matrix .about-matrix-content {
    padding: 4em;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-matrix .aboutmatrix-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.about-matrix .about-matrix-content .content-left img {
    width: 350px;
}

.about-matrix .about-matrix-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-matrix .about-matrix-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}



  /* Button Styling Starts Here */
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
  }
  
  .slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
  }
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  

/* theme */
.Theme {

    margin: 10px 0px 10px 0px;

    justify-content: center;
    flex-direction: column;

}

.window {
    border-radius: 5px;
    padding: 10px;
    margin: 26px;
    box-shadow: 0px 5px 5px 0px black;
    width: 40%;
    float: left;
    text-align: right;
}

.window1 {
    border-radius: 5px;
    padding: 10px;
    margin: 26px;
    box-shadow: 0px 5px 5px 0px black;
    width: 40%;
    float: right;
    text-align: right;
}

.window:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px white;

}

.window1:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px white;

}

.Theme ul {
    padding-left: 10em;
    padding-right: 10em;
    float: right;
    width: 100%;
}

/* roadmap */
.roadmap {
    align-content: end;
    justify-content: center;
    height: max-content;
}

.roadmap img {
    width: 92%;
    height: 92%;
    position: relative;
    z-index: 1;
}

.box {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
 
}

.box::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(#d928c0, #e3e3e3);
    animation: animate 4s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* sponsers */


.sponsor-section{
    width: 100vw;
    height: 40vh;
    background-color: white;
    
  }
  
  .sponsor-heading{
      margin: auto;
      
  }
  
  .sponsor-heading h2{
      font-size: 3rem;
  
  }
  
  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 100px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  

/* about BCM */

.about-BCM {
    /* background-color: #1d1b1c; */
    background: linear-gradient(#1d1b1c, #020024e7);
    padding: 68px 0;
}

.about-BCM .about-BCM-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-BCM .aboutBCM-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.about-BCM .about-BCM-content .content-left img {
    width: 350px;
}

.about-BCM .about-BCM-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-BCM-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.socials i{
    font-size: 3rem;
    padding: 2rem;
}
.socials i:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
/* footer */


/* Footer section eliminated by Rishabh */
/* 
.footer {
    color:white;
    background-color: black;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
z-index: 4;

}

footer a {
    color: #625858;
    text-decoration: none;
}

#master {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.company,
.communities,
.USEFUL {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer li {
    text-decoration: none;
    list-style: none;
    margin: 10px 0px;

}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    width: 100px;
}

.instagram:hover,
.github:hover,
.twitter:hover {
    cursor: pointer;
}

footer h6 {
    margin: 2px;
    font-size: 1rem;
}

.logo,
.company,
.communities,
.USEFUL,
.socials {
    margin: 40px;
}

.logo img {
    width: 10em;
    height: 10em;
}

 */
