* {
    font-family: 'Bitter', serif;
    color: white;

}

body {
    background: linear-gradient(#6d053b, #020024e7);
}

section {
    margin: 0.1em, 0px;
    height: fit-content;
    width: 100%;
    display: flex;
}

ul {
    float: right;
    width: 100%;
}

/* count down */
#Timer {
    padding: 10px 5px 10px 5px;
    font-size: large;
    background-color: silver;
    color: black;
    margin: auto;
    width: fit-content;
    border: 2px solid black;
    z-index: 100;
    position: relative;
    top: 5.5rem;
    border-radius: 30px;
}

#Timer:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px rgba(255, 192, 203, 0.65)
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about mtrix */
.container {
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-matrix {
    padding: 68px 0;
}

.about-matrix .about-matrix-content {
    padding: 4em;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-matrix .aboutmatrix-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.about-matrix .about-matrix-content .content-left img {
    width: 350px;
}

.about-matrix .about-matrix-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-matrix .about-matrix-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}

/* theme */
.Theme {

    margin: 10px 0px 10px 0px;

    justify-content: center;
    flex-direction: column;

}

.window {
    border-radius: 5px;
    padding: 10px;
    margin: 26px;
    box-shadow: 0px 5px 5px 0px black;
    width: 40%;
    float: left;
    text-align: right;
}

.window1 {
    border-radius: 5px;
    padding: 10px;
    margin: 26px;
    box-shadow: 0px 5px 5px 0px black;
    width: 40%;
    float: right;
    text-align: right;
}

.window:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px white;

}

.window1:hover {
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 5px 0px white;

}

.Theme ul {
    padding-left: 10em;
    padding-right: 10em;
    float: right;
    width: 100%;
}

/* roadmap */
.roadmap {
    align-content: end;
    justify-content: center;
    height: max-content;
}

.roadmap img {
    width: 92%;
    height: 92%;
    position: relative;
    z-index: 1;
}

.box {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
 
}

.box::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(#d928c0, #e3e3e3);
    animation: animate 4s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* about BCM */

.about-BCM {
    background-color: #1d1b1c;
    padding: 68px 0;
}

.about-BCM .about-BCM-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-BCM .aboutBCM-content .content-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.about-BCM .about-BCM-content .content-left img {
    width: 350px;
}

.about-BCM .about-BCM-content .content-right {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-top: 30px;
    justify-content: center;
}

.about-BCM-content .content-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}


/* sponsers */
.sponsor {
    flex-direction: column;
}

.sponsor p {
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

/* footer */

.footer {
    color:white;
    background-color: black;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
z-index: 4;

}

footer a {
    color: #625858;
    text-decoration: none;
}

#master {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.company,
.communities,
.USEFUL {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer li {
    text-decoration: none;
    list-style: none;
    margin: 10px 0px;

}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    width: 100px;
}

.instagram:hover,
.github:hover,
.twitter:hover {
    cursor: pointer;
}

footer h6 {
    margin: 2px;
    font-size: 1rem;
}

.logo,
.company,
.communities,
.USEFUL,
.socials {
    margin: 40px;
}

.logo img {
    width: 10em;
    height: 10em;
}